@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { @apply border-surface-700; }
  body {
    @apply bg-surface-950 text-slate-100 font-sans;
    -webkit-app-region: none;
  }
  ::-webkit-scrollbar { width: 6px; height: 6px; }
  ::-webkit-scrollbar-track { @apply bg-surface-900; }
  ::-webkit-scrollbar-thumb { @apply bg-surface-700 rounded-full; }
  ::-webkit-scrollbar-thumb:hover { @apply bg-slate-500; }
}

@layer utilities {
  .drag-region { -webkit-app-region: drag; }
  .no-drag { -webkit-app-region: no-drag; }
}
